<li>

  <%= link_to user.name, user %>
  <%= user.department.id %>
  <%= user.department.name %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete,
                              data: { confirm: "#{user.name}を削除しても良いですか？" } %>
  <% end %>
</li>
