<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">所属</th>
            <td><%= @user.department.name %></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
