<% provide(:title, 'All Oders') %>
<h1>発注 一覧</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
<!-- 発注一覧テーブル -->
<div>
  <table class="table table-bordered table-condensed table-hober" id="table-orders">
    <thead>
      <tr>
        <th>発注日</th>
        <th>塗料名</th>
        <th>発注量</th>
        <th>希望納期</th>
        <th>備考</th>
        <th>発注</th>
      </tr>
    </thead>
    <tbody>
      <%= render @orders %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>



  </div>
</div>

  </div>
</div>
